<h1>Admin Home</h1>

<h2>Articles</h2>
<div class="link-list">
  <br>
  <a href="/articles/new">New Article</a>
  <br>
  <a href="/articles">Browse / Edit / Delete Articles</a>
</div>

<a href="/admins/logout">Log out of Admin</a>