/*SETUP*/

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "clavo", 'helvetica', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.62;
  color: #2E3940;
}

a {
  text-decoration: none;
  color: #2E3940;
}

a:hover {
  color: #89ABBF;
}

img {
  width: 30%;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.picture-grid {
  width: 800px;
  height: 500px;
  border: 1px dashed black;
  margin: 0 auto;
}

.title {
  font-size: 10em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:  "estilo-pro", "arial", sans-serif;

}

th, td {
  padding-right: 20px;
  padding-top: 5px;
}

th {
  font-size: 1.2em;
}

.link-list a {
  display: block;
  padding-bottom: 10px;
}

.error {
  color: #F21142;
}
.home-container {
  width: 800px;

}

.face img {
  width: 100%;
  opacity: .8;
}

.article-title {
  font-size: 2em;
  font-family: "estilo-pro" "arial", sans-serif;
  padding-bottom: 10px;
  margin-top: -35px;
}

.article-author {
  /*font-size: 2em;*/
  font-family: "estilo-pro" "arial", sans-serif;
  padding-bottom: 10px;

}
.article-date {
  padding-left: 10px;
  font-size: .8em;
}

/*.face {
  border: 5px solid black;
  }*/

  a {
    display: inline;
  }

  textarea {
    width: 800px;
    height: 800px;
  }

  /*REUSABLE CLASSES*/

  h1, h2 {
    font-size: 3em;
    font-family:  "estilo-pro", "arial", sans-serif;
    padding-bottom: 10px;
  }

  .header {
    font-family:  "", "arial", sans-serif;
    padding-bottom: 10px;
  }

  .bold {
    font-weight: 400;
  }

  .italic {
    font-style: italic;
  }