
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'helvetica', 'arial', sans-serif;
  /*"clavo", */
  font-size: 16px;
  font-weight: 200;
  line-height: 1.62;
  color: #2E3940;
  /*background-color: #C9E4DB;*/
}

.nav {
  font-family: 'Varela', sans-serif;
  color: black;
  font-size: 70px;
  /*position: relative;*/
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.links {
  position: fixed;
  z-index: 10000000;
  left: 10px;
}

a {
  text-decoration: none;
  color: #2E3940;
}

a:hover {
  color: #89ABBF;
}

/*.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  }*/

  img {
    width: 100%;
    /*height: 100%;*/
  }

  .title {
    position: fixed;
    z-index: 10000000;
    right: 0;
  }

  .article-links {
    position: fixed;
    font-size: 70px;
    font-family: 'Varela', sans-serif;
    left: 0;
  }


/*FRONT PAGE TOOL TIPS*/

.imgTool {
  width: 100%;
  height: 100%;
  bottom: 0;
  min-height: 500px;
  position: relative;
}

.image {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.info-link {
  width: 100%;
  height: 40%;
  min-height: 200px;
  position: absolute;
  z-index: 10000000;
  bottom: 0;
  /*top: 400px;*/
  background-color: #9EC6E4;
  text-align: center;
  /*display: none;*/
}

.info-text {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: white;
  margin-top: 20%;
  margin-bottom: 20%;
}
