
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Varela', 'helvetica', 'arial', sans-serif;
  /*"clavo", */
  font-size: 16px;
  font-weight: 200;
  line-height: 1.62;
  color: #2E3940;
  /*background-color: #C9E4DB;*/
}

.nav {
  font-family: 'Varela', sans-serif;
  color: black;
  font-size: 70px;
  /*position: relative;*/
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.links {
  position: fixed;
  z-index: 10000000;
  left: 10px;
}

a {
  text-decoration: none;
  color: #2E3940;
}

a:hover {
  color: #89ABBF;
}



img {
  width: 100%;
  /*height: 100%;*/
}

.title {
  position: fixed;
  z-index: 10000000;
  right: 0;
}

.article-links {
  position: fixed;
  font-size: 70px;
  font-family: 'Varela', sans-serif;
  left: 0;
}


/*FRONT PAGE TOOL TIPS*/
.image {
  position: relative;
}
.info-link {
  width: 100%;
  height: 40%;
  /*min-height: 200px;*/
  position: absolute;
  z-index: 10000000;
  bottom: 0;
  background-color: #9EC6E4;
  text-align: center;
  opacity: 0.9;
  /*display: none;*/
}



.info-text {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.info-text a {
  color: white;
  font-size: 2em;
  text-decoration: underline;
}

.info-text a:hover {
  color: black;
}